body{
    margin: 0;
    padding: 0;

}
.project-list{
    display: flex;
    /*background: #ef4444;*/
    align-items:flex-start;
    justify-content: center;
    gap: 20px;
}
.project{
    flex-grow: 1;
    text-align: center;
    width: 80%;
    background: #ef4444;
    height: 5vw;
    border-radius: 15px;
    font-size: larger;
    min-width: 287px;
    min-height: 50px;
}
.list{
    display:flex;
    flex-flow: column;

}
.task,.task-add{
    height: 6vw;
    border-radius: 15px;
    font-size: larger;
    min-width: 287px;
    min-height: 50px;
    width: 80%;
    flex-grow: 1;
    text-align: center;
    background: aqua;
    margin-top: 5px;
}
.task-add{
    background-color: chocolate;
}
.task input{

}
/*.task-list{*/
    /*display: block;*/
    /*background: aqua;*/
    /*height: 100px;*/
/*}*/
